.Fdashboard{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

    background-color: #f3f3f3;
    color: #fff;
    align-items: center;
}

.dash-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;

    height: 59rem;
    width: 97rem;

    margin: 0rem 1rem 0rem 1rem;

}

.head{
    width: 100%;
    background-color: #01796F;
    border-radius: 10px 10px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: "Geologica", sans-serif;
    padding: 1.5rem;
    margin: 0 0 1.5rem 0;


}


.sidebar{
    height: 59rem;
    width: 20rem;
    margin: 1rem 0rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: flex-start;

    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    background-color: #283030;
}

.menu{
    height: 15rem;
    width: 17rem;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    padding: 0rem 1rem 0rem 0rem;

    flex-wrap: wrap;
    overflow-y: visible;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

.sidebar ul li{
    height: 3.2rem;
    width: 13rem;
    
    font-size: 14pt;
    font-weight: normal;
    font-family: "Geologica", sans-serif;
    color: white;
    margin: 1rem 0rem 0rem 0rem;
    padding: 1rem 0rem 1.7rem 1rem;
    border-radius: 5px;
    align-items: center;
}

li:hover{
    background-color: #374444;
    cursor: pointer;
}

li:active{
    background-color: #C42847;
    cursor: pointer;
}

/* Profile area */
.profile-area{
    height: 12rem;
    width: 20rem;
    /* border: #0061b1 1pt solid; */

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 2rem 0rem 1rem 0rem;
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    background-color: #283030;
}

.profile-pic{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: 1rem 0rem 0.2rem 0rem;
}

.profile-name{
    font-size: 16pt;
    color: white;
    margin: 1rem 0rem 0rem 0rem;
}

