/* ... (previously defined styles) ... */
.footer-container{
  background-color: #070707;
  height:  40vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  allign-items: center;
  padding: auto;
}
.social-icons {
    display: flex;
    margin: 2rem 0 1rem 0;
    align-self: center;
  }
  
  .social-icon {
    color: #e6e6e6;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #2b2c33;
  }
  
  .contact-info {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .footer-info{
    text-align: center;
  }
  /* ... (previously defined styles) ... */
      