@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Ysabeau+Office:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@500&display=swap");
.login-area {
  margin-top: 4rem;

  background-color: #131617;
  border-radius: 20px;
  border: 2pt solid rgb(56, 61, 57);
  box-shadow: rgba(63, 63, 70, 0.564) 0px 7px 10px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.loginhead {
  text-align: center;

  color: #e6ffee;
  font-size: large; /* Adjusted font size for better readability */
  font-family: "Ysabeau Office", sans-serif;
}

.login-area hr {
  border: 1pt solid #1d2a31;
  margin-bottom: 1rem;
  border-radius: 2px;
}

/* ========================== form formatting ================================= */

form {
  display: flex;
  flex-direction: column;
  align-items: start; /* Changed from 'justify-items: space-aorund' */
}

form label {
  font-weight: bold;
  font-family: "Ysabeau Office", sans-serif;
  color: #e6ffee;
  margin-left: 2rem;
}

/* ++++++++++++++++++++++++++ input formatting +++++++++++++++++++++++++++++++++++++++++ */
form input {
  padding: 1rem;
  background-color: #1d2a31;
  color: #e6ffee;
  margin: 0.5rem 0; /* Adjusted the margins to make it more consistent */
  border: none; /* Removed the border property here */
  border-radius: 15px;
}

form input:focus {
  outline: none;
  background-color: #22313ada;
}

/* ++++++++++++++++++++++++++  button formatting +++++++++++++++++++++++++++++++++++++++++ */
form button {
  margin: 1rem 0 0; /* Removed duplicate margin property */
  background-color: #1f75fe;
  border-radius: 15px;
  border: none; /* Removed the border property here */
  font-size: 12pt; /* Adjusted font size for better readability */
  color: antiquewhite;
  font-weight: bold;
  font-family: "Ysabeau Office", sans-serif;
  align-self: center;
}

form button:active {
  opacity: 0.7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form button.clicked {
  animation: fadeIn 0.5s;
}


/* Base styles for all screen sizes */
select#role {
  background-color: #1d2a31;
  height: 3rem;
  width: 23rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 10px;
  margin: 0.5rem 0 2rem 0;
  align-self: center;
  color: #e6ffee;
  font-size: medium;
}

/* Styles for focused select element */
select#role:focus {
  outline: none;
  border: 1px solid #657781;
 
}

/* Media query for screens below 600px */
@media screen and (max-width: 600px) {
  select#role {
    width: 90%; /* Reduce width for smaller screens */
  }
}

.fPass {
  height: 1rem;
  width: 30rem;
  margin: 0.5rem 0;
  text-align: center;
  align-self: center;
}

h5 {
  font-size: 10pt; /* Adjusted font size for better readability */
  text-align: center;
  font-family: "Ysabeau Office", sans-serif;
  width: fit-content;
  color: #e6ffee;
  margin: 0.5rem 0 2rem 0;
}

/* +++++++++++++++++++++++++media query max width 1024px for laptops++++++++++++++++++++++++++++++++= */


@media  screen and (min-width: 1024px) {
  .login-area{
    height: 50vh;
    width: 35vw;
    margin-top: 3rem;
  }

  .loginhead {
    font-size: 16pt;
    color: #e6ffee;
    height: 2rem;
    width: auto;
    text-align: center;
    margin: 0.5rem 0 1rem 0rem; 
  }

  .login-area hr {
    width: 25rem;
    margin: 1rem 0 2rem 0;
  }

  form label {
    font-size: 12pt;
    font-weight: bolder;
    font-family: "Ysabeau Office", sans-serif;
    color: #e6ffee;
  }

  form input {
    height: 2.8rem;
    width: 23rem;
    padding: 0 0 0 2rem;
    margin: 0.2rem 0 1rem 0;
    align-self: center;
    color:#e6ffee;
    font-size: medium;
  }
  form input:focus {
    border: 1pt;
    outline: none;
    border: 1px solid #657781;
    background-color: #354c5ada;
  }
  form button {
    height: 2.5rem;
    width: 20rem;

    font-size: 12pt;
    margin: 1rem 0 0 0;

  }
  .fpass h5{
    font-size: 8pt;
    text-decoration: underline;
    color: #e6ffee;
  }

}


/* +++++++++++++++++++++++++media query max width 800px for tabs +++++++++++++++++++++++++++++++= */
@media screen and (max-width: 768px) {
  .login-area {
    height: 60vh;
    width: 75vw;
    margin-top: 3rem;
  }

  .loginhead {
    font-size: small;
    color: #e6ffee;
    height: 4rem;
    width: auto;
    text-align: center;
    margin: 0.5rem 0 0 0.1rem; 
  }

  .login-area hr {
    width: 20rem;
  }

  form input {
    height: 3.2rem;
    width: 20rem;
    padding: 1rem;
    margin: 0.5rem 0 2rem 0;
    align-self: center;
    color:#e6ffee;
    font-size: medium;
  }

  form input:focus {
    border: 1pt;
    outline: none;
    border-color: #657781;
    background-color: #354c5ada;
  }
  .fpass h5 Link{
    font-size: 8pt;
    text-decoration: none;
    color: #e6ffee;
  }
}   

/* +++++++++++++++++++++++++++++ media query max width 600 for phones++++++++++++++++++++++++++++++ */
@media screen and (max-width: 600px) {
  .login-area {
    height: 60vh;
    width: 50vw;
    margin-top: 4rem;
  }
  .loginhead {
    height: 4rem;
    width: 20rem;
    margin: 0 1rem 0 1rem;
  }
}
